@using Covid19Info.Services;
@{ 
    List<Vesti> vesti = VestiServices.ListOfVesti();
    BrojZarazenihOsoba brZarazenihSrbija = BrojZarazenihService.listBrojZarazenihOsobaRegion("Srbija");
    BrojZarazenihOsoba brZarazenihKosovo = BrojZarazenihService.listBrojZarazenihOsobaRegion("Kosovo");
    BrojZarazenihOsoba brZarazenihStrpce = BrojZarazenihService.listBrojZarazenihOsobaRegion("Strpce");

}


<!-- ======= hero Section ======= -->
<section id="hero">
    <div class="hero-container">
        <div id="heroCarousel" class="carousel slide carousel-fade" data-bs-ride="carousel" data-bs-interval="5000">

            <ol id="hero-carousel-indicators" class="carousel-indicators"></ol>

            <div class="carousel-inner" role="listbox">

                <div class="carousel-item active" style="background-image: url(assets/img/hero-carousel/1.jpg)">
                    <div class="carousel-container">
                        <div class="container">
                            <h2 class="animate__animated animate__fadeInDown">Podnaslov slajdera</h2>
                            <p class="animate__animated animate__fadeInUp">Vest koja je vezana za slajder</p>
                            <a href="#about" class="btn-get-started scrollto animate__animated animate__fadeInUp">Saznaj više</a>
                        </div>
                    </div>
                </div>

                <div class="carousel-item" style="background-image: url(assets/img/hero-carousel/2.jpg)">
                    <div class="carousel-container">
                        <div class="container">
                            <h2 class="animate__animated animate__fadeInDown">Podnaslov slajdera 2</h2>
                            <p class="animate__animated animate__fadeInUp">Vest koja je vezana za slajder (različita) 2 </p>
                            <a href="#about" class="btn-get-started scrollto animate__animated animate__fadeInUp">Saznaj više</a>
                        </div>
                    </div>
                </div>

                <div class="carousel-item" style="background-image: url(assets/img/hero-carousel/3.jpg)" heig>
                    <div class="carousel-container">
                        <div class="container">
                            <h2 class="animate__animated animate__fadeInDown">Podnaslov slajdera 3</h2>
                            <p class="animate__animated animate__fadeInUp">Vest koja je vezana za slajder (različita) 3</p>
                            <a href="#about" class="btn-get-started scrollto animate__animated animate__fadeInUp">Saznaj više</a>
                        </div>
                    </div>
                </div>

            </div>

            <a class="carousel-control-prev" href="#heroCarousel" role="button" data-bs-slide="prev">
                <span class="carousel-control-prev-icon bi bi-chevron-left" aria-hidden="true"></span>
            </a>

            <a class="carousel-control-next" href="#heroCarousel" role="button" data-bs-slide="next">
                <span class="carousel-control-next-icon bi bi-chevron-right" aria-hidden="true"></span>
            </a>

        </div>
    </div>
</section><!-- End Hero Section -->

<section style="margin-top: 50px;" class="wow fadeIn animated" style="visibility: visible; animation-name: fadeIn;">
    <div class="container">
        <div class="row">
            <!-- counter -->
            <div class="section-headline text-center">
                <h2>Kosovo</h2>
            </div>
            <div class="col-md-3 col-sm-6 bottom-margin text-center counter-section wow fadeInUp sm-margin-bottom-ten animated" data-wow-duration="300ms" style="visibility: visible; animation-duration: 300ms; animation-name: fadeInUp;">
                <i class="fa fa-heart medium-icon"></i>
                <span id="anim-number-pizza" class="counter-number"></span> <span class="timer counter alt-font appear" data-to="980" data-speed="7000">@brZarazenihKosovo.BrojTestiranihOsobaDnevno</span>
                <p class="counter-title">Broj testiranih osoba</p>

            </div> <!-- end counter -->
            <!-- counter -->
            <div class="col-md-3 col-sm-6 bottom-margin text-center counter-section wow fadeInUp sm-margin-bottom-ten animated" data-wow-duration="600ms" style="visibility: visible; animation-duration: 600ms; animation-name: fadeInUp;"> <i class="fa fa-heart medium-icon"></i> <span class="timer counter alt-font appear" data-to="980" data-speed="7000">@brZarazenihKosovo.BrojPotvrdjenihSlucajeva</span> <span class="counter-title">Broj potvrdjenih slučajeva</span> </div> <!-- end counter -->
            <!-- counter -->
            <div class="col-md-3 col-sm-6 bottom-margin-small text-center counter-section wow fadeInUp xs-margin-bottom-ten animated" data-wow-duration="900ms" style="visibility: visible; animation-duration: 900ms; animation-name: fadeInUp;"> <i class="fa fa-anchor medium-icon"></i> <span class="timer counter alt-font appear" data-to="810" data-speed="7000">@brZarazenihKosovo.BrojSmrtnihSlucajeva</span> <span class="counter-title">Broj smtnih slučajeva</span> </div> <!-- end counter -->
            <!-- counter -->
            <div class="col-md-3 col-sm-6 text-center counter-section wow fadeInUp animated" data-wow-duration="1200ms" style="visibility: visible; animation-duration: 1200ms; animation-name: fadeInUp;"> <i class="fa fa-user medium-icon"></i> <span class="timer counter alt-font appear" data-to="600" data-speed="7000">@brZarazenihKosovo.UkupanBrojTestiranihSlucajeva</span> <span class="counter-title">Ukupan broj testiranih slučajeva</span> </div> <!-- end counter -->
        </div>
        <hr class="linija">
        <div class="row" style="margin-top:50px">
            <!-- counter -->
            <div class="section-headline text-center">
                <h2>Srbija</h2>
            </div>
            <div class="col-md-3 col-sm-6 bottom-margin text-center counter-section wow fadeInUp sm-margin-bottom-ten animated" data-wow-duration="300ms" style="visibility: visible; animation-duration: 300ms; animation-name: fadeInUp;">
                <i class="fa fa-heart medium-icon"></i>
                <span id="anim-number-pizza" class="counter-number"></span> <span class="timer counter alt-font appear" data-to="980" data-speed="7000">@brZarazenihSrbija.BrojTestiranihOsobaDnevno</span>
                <p class="counter-title">Broj testiranih osoba</p>

            </div> <!-- end counter -->
            <!-- counter -->
            <div class="col-md-3 col-sm-6 bottom-margin text-center counter-section wow fadeInUp sm-margin-bottom-ten animated" data-wow-duration="600ms" style="visibility: visible; animation-duration: 600ms; animation-name: fadeInUp;"> <i class="fa fa-heart medium-icon"></i> <span class="timer counter alt-font appear" data-to="980" data-speed="7000">@brZarazenihSrbija.BrojPotvrdjenihSlucajeva</span> <span class="counter-title">Broj potvrdjenih slučajeva</span> </div> <!-- end counter -->
            <!-- counter -->
            <div class="col-md-3 col-sm-6 bottom-margin-small text-center counter-section wow fadeInUp xs-margin-bottom-ten animated" data-wow-duration="900ms" style="visibility: visible; animation-duration: 900ms; animation-name: fadeInUp;"> <i class="fa fa-anchor medium-icon"></i> <span class="timer counter alt-font appear" data-to="810" data-speed="7000">@brZarazenihSrbija.BrojSmrtnihSlucajeva</span> <span class="counter-title">Broj smtnih slučajeva</span> </div> <!-- end counter -->
            <!-- counter -->
            <div class="col-md-3 col-sm-6 text-center counter-section wow fadeInUp animated" data-wow-duration="1200ms" style="visibility: visible; animation-duration: 1200ms; animation-name: fadeInUp;"> <i class="fa fa-user medium-icon"></i> <span class="timer counter alt-font appear" data-to="600" data-speed="7000">@brZarazenihSrbija.UkupanBrojTestiranihSlucajeva</span> <span class="counter-title">Ukupan broj testiranih slučajeva</span> </div> <!-- end counter -->
        </div>
        <hr class="linija">
        <div class="row" style="margin-top:50px">
            <!-- counter -->
            <div class="section-headline text-center">
                <h2>Štrpce</h2>
            </div>
            <div class="col-md-3 col-sm-6 bottom-margin text-center counter-section wow fadeInUp sm-margin-bottom-ten animated" data-wow-duration="300ms" style="visibility: visible; animation-duration: 300ms; animation-name: fadeInUp;">
                <i class="fa fa-heart medium-icon"></i>
                <span id="anim-number-pizza" class="counter-number"></span> <span class="timer counter alt-font appear" data-to="980" data-speed="7000">@brZarazenihStrpce.BrojTestiranihOsobaDnevno</span>
                <p class="counter-title">Broj testiranih osoba</p>

            </div> <!-- end counter -->
            <!-- counter -->
            <div class="col-md-3 col-sm-6 bottom-margin text-center counter-section wow fadeInUp sm-margin-bottom-ten animated" data-wow-duration="600ms" style="visibility: visible; animation-duration: 600ms; animation-name: fadeInUp;"> <i class="fa fa-heart medium-icon"></i> <span class="timer counter alt-font appear" data-to="980" data-speed="7000">@brZarazenihStrpce.BrojPotvrdjenihSlucajeva</span> <span class="counter-title">Broj potvrdjenih slučajeva</span> </div> <!-- end counter -->
            <!-- counter -->
            <div class="col-md-3 col-sm-6 bottom-margin-small text-center counter-section wow fadeInUp xs-margin-bottom-ten animated" data-wow-duration="900ms" style="visibility: visible; animation-duration: 900ms; animation-name: fadeInUp;"> <i class="fa fa-anchor medium-icon"></i> <span class="timer counter alt-font appear" data-to="810" data-speed="7000">@brZarazenihStrpce.BrojSmrtnihSlucajeva</span> <span class="counter-title">Broj smtnih slučajeva</span> </div> <!-- end counter -->
            <!-- counter -->
            <div class="col-md-3 col-sm-6 text-center counter-section wow fadeInUp animated" data-wow-duration="1200ms" style="visibility: visible; animation-duration: 1200ms; animation-name: fadeInUp;"> <i class="fa fa-user medium-icon"></i> <span class="timer counter alt-font appear" data-to="600" data-speed="7000">@brZarazenihStrpce.UkupanBrojTestiranihSlucajeva</span> <span class="counter-title">Ukupan broj testiranih slučajeva</span> </div> <!-- end counter -->
        </div>
    </div>
</section>
<div id="blog" class="blog-area">
    <div class="blog-inner area-padding">
        <div class="blog-overly"></div>
        <div class="container ">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="section-headline text-center">
                        <h2>Najnovije vesti</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <!-- Start Left Blog -->
                @foreach(Vesti v in vesti) { 
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="single-blog">
                        <div class="single-blog-img">
                            <a href="~/PojedinacnaVest/Index">
                                <img src="~/Images/@v.Slika" alt="@v.Naslov">
                            </a>
                        </div>
                        <div class="blog-meta">
                            <span class="comments-type">
                                <i class="fa fa-comment-o"></i>
                                <a href="#">13 komentara</a>
                            </span>
                            <span class="date-type">
                                <i class="fa fa-calendar"></i>@v.Datum
                            </span>
                        </div>
                        <div class="blog-text">
                            <h4>
                                <a href="blog.html">@v.Naslov</a>
                            </h4>
                            <p>
                              @v.Sazetak
                            </p>
                        </div>
                        <span>
                            <a href="~/PojedinacnaVest/Index" class="ready-btn">Saznaj više</a>
                        </span>
                    </div>
                    <!-- Start single blog -->
                </div>
                }
                <!-- End Left Blog-->
                <!-- Start Left Blog -->
                @*<div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="single-blog">
                        <div class="single-blog-img">
                            <a href="blog.html">
                                <img src="assets/img/blog/2.jpg" alt="">
                            </a>
                        </div>
                        <div class="blog-meta">
                            <span class="comments-type">
                                <i class="fa fa-comment-o"></i>
                                <a href="#">130 komentara</a>
                            </span>
                            <span class="date-type">
                                <i class="fa fa-calendar"></i>2016-03-05 / 09:10:16
                            </span>
                        </div>
                        <div class="blog-text">
                            <h4>
                                <a href="blog.html">Explicabo magnam quibusdam.</a>
                            </h4>
                            <p>
                                Lorem ipsum dolor sit amet conse adipis elit Assumenda repud eum veniam optio modi sit explicabo nisi magnam quibusdam.sit amet conse adipis elit Assumenda repud eum veniam optio modi sit explicabo nisi magnam quibusdam.
                            </p>
                        </div>
                        <span>
                            <a href="blog.html" class="ready-btn">Saznaj više</a>
                        </span>
                    </div>*@
                    <!-- Start single blog -->
                @*</div>*@
                <!-- End Left Blog-->
                <!-- Start Right Blog-->
                @*<div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="single-blog">
                        <div class="single-blog-img">
                            <a href="blog.html">
                                <img src="assets/img/blog/3.jpg" alt="">
                            </a>
                        </div>
                        <div class="blog-meta">
                            <span class="comments-type">
                                <i class="fa fa-comment-o"></i>
                                <a href="#">10 komentara</a>
                            </span>
                            <span class="date-type">
                                <i class="fa fa-calendar"></i>2016-03-05 / 09:10:16
                            </span>
                        </div>
                        <div class="blog-text">
                            <h4>
                                <a href="blog.html">Lorem ipsum dolor sit amet</a>
                            </h4>
                            <p>
                                Lorem ipsum dolor sit amet conse adipis elit Assumenda repud eum veniam optio modi sit explicabo nisi magnam quibusdam.sit amet conse adipis elit Assumenda repud eum veniam optio modi sit explicabo nisi magnam quibusdam.
                            </p>
                        </div>
                        <span>
                            <a href="blog.html" class="ready-btn">Saznaj više</a>
                        </span>
                    </div>
                </div>*@
                <!-- End Right Blog-->
            @*</div>*@
            @*<div class="row" style="margin-top: 50px;">*@
                <!-- Start Left Blog -->
                @*<div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="single-blog">
                        <div class="single-blog-img">
                            <a href="blog.html">
                                <img src="assets/img/blog/1.jpg" alt="">
                            </a>
                        </div>
                        <div class="blog-meta">
                            <span class="comments-type">
                                <i class="fa fa-comment-o"></i>
                                <a href="#">13 komentara</a>
                            </span>
                            <span class="date-type">
                                <i class="fa fa-calendar"></i>2016-03-05 / 09:10:16
                            </span>
                        </div>
                        <div class="blog-text">
                            <h4>
                                <a href="blog.html">Assumenda repud eum veniam</a>
                            </h4>
                            <p>
                                Lorem ipsum dolor sit amet conse adipis elit Assumenda repud eum veniam optio modi sit explicabo nisi magnam quibusdam.sit amet conse adipis elit Assumenda repud eum veniam optio modi sit explicabo nisi magnam quibusdam.
                            </p>
                        </div>
                        <span>
                            <a href="blog.html" class="ready-btn">Saznaj više</a>
                        </span>
                    </div>*@
                    <!-- Start single blog -->
                @*</div>*@
                <!-- End Left Blog-->
                <!-- Start Left Blog -->
                @*<div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="single-blog">
                        <div class="single-blog-img">
                            <a href="blog.html">
                                <img src="assets/img/blog/2.jpg" alt="">
                            </a>
                        </div>
                        <div class="blog-meta">
                            <span class="comments-type">
                                <i class="fa fa-comment-o"></i>
                                <a href="#">130 komentara</a>
                            </span>
                            <span class="date-type">
                                <i class="fa fa-calendar"></i>2016-03-05 / 09:10:16
                            </span>
                        </div>
                        <div class="blog-text">
                            <h4>
                                <a href="blog.html">Explicabo magnam quibusdam.</a>
                            </h4>
                            <p>
                                Lorem ipsum dolor sit amet conse adipis elit Assumenda repud eum veniam optio modi sit explicabo nisi magnam quibusdam.sit amet conse adipis elit Assumenda repud eum veniam optio modi sit explicabo nisi magnam quibusdam.
                            </p>
                        </div>
                        <span>
                            <a href="blog.html" class="ready-btn">Saznaj više</a>
                        </span>
                    </div>*@
                    <!-- Start single blog -->
                @*</div>*@
                <!-- End Left Blog-->
                <!-- Start Right Blog-->
                @*<div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="single-blog">
                        <div class="single-blog-img">
                            <a href="blog.html">
                                <img src="assets/img/blog/3.jpg" alt="">
                            </a>
                        </div>
                        <div class="blog-meta">
                            <span class="comments-type">
                                <i class="fa fa-comment-o"></i>
                                <a href="#">10 komentara</a>
                            </span>
                            <span class="date-type">
                                <i class="fa fa-calendar"></i>2016-03-05 / 09:10:16
                            </span>
                        </div>
                        <div class="blog-text">
                            <h4>
                                <a href="blog.html">Lorem ipsum dolor sit amet</a>
                            </h4>
                            <p>
                                Lorem ipsum dolor sit amet conse adipis elit Assumenda repud eum veniam optio modi sit explicabo nisi magnam quibusdam.sit amet conse adipis elit Assumenda repud eum veniam optio modi sit explicabo nisi magnam quibusdam.
                            </p>
                        </div>
                        <span>
                            <a href="blog.html" class="ready-btn">Saznaj više</a>
                        </span>
                    </div>
                </div>*@
                <!-- End Right Blog-->
            @*</div>*@
            @*<div class="row" style="margin-top: 50px;">*@
                <!-- Start Left Blog -->
                @*<div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="single-blog">
                        <div class="single-blog-img">
                            <a href="blog.html">
                                <img src="assets/img/blog/1.jpg" alt="">
                            </a>
                        </div>
                        <div class="blog-meta">
                            <span class="comments-type">
                                <i class="fa fa-comment-o"></i>
                                <a href="#">13 komentara</a>
                            </span>
                            <span class="date-type">
                                <i class="fa fa-calendar"></i>2016-03-05 / 09:10:16
                            </span>
                        </div>
                        <div class="blog-text">
                            <h4>
                                <a href="blog.html">Assumenda repud eum veniam</a>
                            </h4>
                            <p>
                                Lorem ipsum dolor sit amet conse adipis elit Assumenda repud eum veniam optio modi sit explicabo nisi magnam quibusdam.sit amet conse adipis elit Assumenda repud eum veniam optio modi sit explicabo nisi magnam quibusdam.
                            </p>
                        </div>
                        <span>
                            <a href="blog.html" class="ready-btn">Saznaj više</a>
                        </span>
                    </div>*@
                    <!-- Start single blog -->
                @*</div>*@
                <!-- End Left Blog-->
                <!-- Start Left Blog -->
                @*<div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="single-blog">
                        <div class="single-blog-img">
                            <a href="blog.html">
                                <img src="assets/img/blog/2.jpg" alt="">
                            </a>
                        </div>
                        <div class="blog-meta">
                            <span class="comments-type">
                                <i class="fa fa-comment-o"></i>
                                <a href="#">130 komentara</a>
                            </span>
                            <span class="date-type">
                                <i class="fa fa-calendar"></i>2016-03-05 / 09:10:16
                            </span>
                        </div>
                        <div class="blog-text">
                            <h4>
                                <a href="blog.html">Explicabo magnam quibusdam.</a>
                            </h4>
                            <p>
                                Lorem ipsum dolor sit amet conse adipis elit Assumenda repud eum veniam optio modi sit explicabo nisi magnam quibusdam.sit amet conse adipis elit Assumenda repud eum veniam optio modi sit explicabo nisi magnam quibusdam.
                            </p>
                        </div>
                        <span>
                            <a href="blog.html" class="ready-btn">Saznaj više</a>
                        </span>
                    </div>*@
                    <!-- Start single blog -->
                @*</div>*@
                <!-- End Left Blog-->
                <!-- Start Right Blog-->
                @*<div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="single-blog">
                        <div class="single-blog-img">
                            <a href="blog.html">
                                <img src="assets/img/blog/3.jpg" alt="">
                            </a>
                        </div>
                        <div class="blog-meta">
                            <span class="comments-type">
                                <i class="fa fa-comment-o"></i>
                                <a href="#">10 komentara</a>
                            </span>
                            <span class="date-type">
                                <i class="fa fa-calendar"></i>2016-03-05 / 09:10:16
                            </span>
                        </div>
                        <div class="blog-text">
                            <h4>
                                <a href="blog.html">Lorem ipsum dolor sit amet</a>
                            </h4>
                            <p>
                                Lorem ipsum dolor sit amet conse adipis elit Assumenda repud eum veniam optio modi sit explicabo nisi magnam quibusdam.sit amet conse adipis elit Assumenda repud eum veniam optio modi sit explicabo nisi magnam quibusdam.
                            </p>
                        </div>
                        <span>
                            <a href="blog.html" class="ready-btn">Saznaj više</a>
                        </span>
                    </div>
                </div>*@
                <!-- End Right Blog-->
            </div>
        </div>
    </div>
</div><!-- End Blog Section -->
<!-- ======= Testimonials Section ======= -->
<!-- ======= Suscribe Section ======= -->
<div class="suscribe-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs=12">
                <div class="suscribe-text text-center">
                    <h3>Ukoliko imate simptome</h3>
                    <a class="sus-btn" href="#">Pozovite odmah</a>
                </div>
            </div>
        </div>
    </div>
</div><!-- End Suscribe Section -->
<!-- ======= Services Section ======= -->
<div id="services" class="services-area area-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="section-headline services-head text-center">
                    <h2>Naše Usluge</h2>
                </div>
            </div>
        </div>
        <div class="row text-center">
            <!-- Start Left services -->
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="about-move">
                    <div class="services-details">
                        <div class="single-services">
                            <a class="services-icon" href="#">
                                <i class="bi bi-briefcase"></i>
                            </a>
                            <h4>Prave Informacije u pravo vreme</h4>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.
                            </p>
                        </div>
                    </div>
                    <!-- end about-details -->
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="about-move">
                    <div class="services-details">
                        <div class="single-services">
                            <a class="services-icon" href="#">
                                <i class="bi bi-card-checklist"></i>
                            </a>
                            <h4>Savetovanje i odgovori na pitanja vezana ze trenutno stanje</h4>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.
                            </p>
                        </div>
                    </div>
                    <!-- end about-details -->
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
                <!-- end col-md-4 -->
                <div class=" about-move">
                    <div class="services-details">
                        <div class="single-services">
                            <a class="services-icon" href="#">
                                <i class="bi bi-bar-chart"></i>
                            </a>
                            <h4>Sve informacije na jednom mestu</h4>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.
                            </p>
                        </div>
                    </div>
                    <!-- end about-details -->
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
                <!-- end col-md-4 -->
                <div class=" about-move">
                    <div class="services-details">
                        <div class="single-services">
                            <a class="services-icon" href="#">
                                <i class="bi bi-binoculars"></i>
                            </a>
                            <h4>Ažurnost i saveti</h4>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.
                            </p>
                        </div>
                    </div>
                    <!-- end about-details -->
                </div>
            </div>
            <!-- End Left services -->
            <div class="col-md-4 col-sm-4 col-xs-12">
                <!-- end col-md-4 -->
                <div class=" about-move">
                    <div class="services-details">
                        <div class="single-services">
                            <a class="services-icon" href="#">
                                <i class="bi bi-brightness-high"></i>
                            </a>
                            <h4>Statistika i podaci</h4>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.
                            </p>
                        </div>
                    </div>
                    <!-- end about-details -->
                </div>
            </div>
            <!-- End Left services -->
            <div class="col-md-4 col-sm-4 col-xs-12">
                <!-- end col-md-4 -->
                <div class=" about-move">
                    <div class="services-details">
                        <div class="single-services">
                            <a class="services-icon" href="#">
                                <i class="bi bi-calendar4-week"></i>
                            </a>
                            <h4>24/7 Pravovremenost</h4>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.
                            </p>
                        </div>
                    </div>
                    <!-- end about-details -->
                </div>
            </div>
        </div>
    </div>
</div><!-- End Services Section -->
<!--  <!-- ======= Rviews Section =======
 <div class="reviews-area">
   <div class="row g-0">
     <div class="col-lg-6">
       <img src="assets/img/about/2.jpg" alt="" class="img-fluid">
     </div>
     <div class="col-lg-6 work-right-text d-flex align-items-center">
       <div class="px-5 py-5 py-lg-0">
         <h2>working with us</h2>
         <h5>Web Design, Ready Home, Construction and Co-operate Outstanding Buildings.</h5>
         <a href="#contact" class="ready-btn scrollto">Contact us</a>
       </div>
     </div>
   </div>
 </div> End Rviews Section -->
<!-- ======= Portfolio Section =======
<div id="portfolio" class="portfolio-area area-padding fix">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="section-headline text-center">
          <h2>Our Portfolio</h2>
        </div>
      </div>
    </div>
    <div class="row wesome-project-1 fix">
      <!-- Start Portfolio -page
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <ul id="portfolio-flters">
          <li data-filter="*" class="filter-active">All</li>
          <li data-filter=".filter-app">App</li>
          <li data-filter=".filter-card">Card</li>
          <li data-filter=".filter-web">Web</li>
        </ul>
      </div>
    </div>

    <div class="row awesome-project-content portfolio-container">

      <!-- portfolio-item start
      <div class="col-md-4 col-sm-4 col-xs-12 portfolio-item filter-app portfolio-item">
        <div class="single-awesome-project">
          <div class="awesome-img">
            <a href="#"><img src="assets/img/portfolio/1.jpg" alt="" /></a>
            <div class="add-actions text-center">
              <div class="project-dec">
                <a class="portfolio-lightbox" data-gallery="myGallery" href="assets/img/portfolio/1.jpg">
                  <h4>Business City</h4>
                  <span>Web Development</span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- portfolio-item end

      <!-- portfolio-item start
      <div class="col-md-4 col-sm-4 col-xs-12 portfolio-item filter-web">
        <div class="single-awesome-project">
          <div class="awesome-img">
            <a href="#"><img src="assets/img/portfolio/2.jpg" alt="" /></a>
            <div class="add-actions text-center">
              <div class="project-dec">
                <a class="portfolio-lightbox" data-gallery="myGallery" href="assets/img/portfolio/2.jpg">
                  <h4>Blue Sea</h4>
                  <span>Photosho</span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- portfolio-item end
      <!-- portfolio-item start
      <div class="col-md-4 col-sm-4 col-xs-12 portfolio-item filter-card">
        <div class="single-awesome-project">
          <div class="awesome-img">
            <a href="#"><img src="assets/img/portfolio/3.jpg" alt="" /></a>
            <div class="add-actions text-center">
              <div class="project-dec">
                <a class="portfolio-lightbox" data-gallery="myGallery" href="assets/img/portfolio/3.jpg">
                  <h4>Beautiful Nature</h4>
                  <span>Web Design</span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- portfolio-item end

      <!-- portfolio-item start
      <div class="col-md-4 col-sm-4 col-xs-12 portfolio-item filter-web">
        <div class="single-awesome-project">
          <div class="awesome-img">
            <a href="#"><img src="assets/img/portfolio/4.jpg" alt="" /></a>
            <div class="add-actions text-center">
              <div class="project-dec">
                <a class="portfolio-lightbox" data-gallery="myGallery" href="assets/img/portfolio/4.jpg">
                  <h4>Creative Team</h4>
                  <span>Web design</span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- portfolio-item end

      <!-- portfolio-item start
      <div class="col-md-4 col-sm-4 col-xs-12 portfolio-item filter-app">
        <div class="single-awesome-project">
          <div class="awesome-img">
            <a href="#"><img src="assets/img/portfolio/5.jpg" alt="" /></a>
            <div class="add-actions text-center text-center">
              <div class="project-dec">
                <a class="portfolio-lightbox" data-gallery="myGallery" href="assets/img/portfolio/5.jpg">
                  <h4>Beautiful Flower</h4>
                  <span>Web Development</span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- portfolio-item end

      <!-- portfolio-item start
      <div class="col-md-4 col-sm-4 col-xs-12 portfolio-item filter-web">
        <div class="single-awesome-project">
          <div class="awesome-img">
            <a href="#"><img src="assets/img/portfolio/6.jpg" alt="" /></a>
            <div class="add-actions text-center">
              <div class="project-dec">
                <a class="portfolio-lightbox" data-gallery="myGallery" href="assets/img/portfolio/6.jpg">
                  <h4>Night Hill</h4>
                  <span>Photoshop</span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- portfolio-item end

    </div>
  </div>
</div><!-- End Portfolio Section -->
<!-- ======= Contact Section ======= -->
<div id="contact" class="contact-area">
    <div class="contact-inner area-padding">
        <div class="contact-overly"></div>
        <div class="container ">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="section-headline text-center">
                        <h2>Kontaktirajte nas</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <!-- Start contact icon column -->
                <div class="col-md-4">
                    <div class="contact-icon text-center">
                        <div class="single-icon">
                            <i class="bi bi-phone"></i>
                            <p>
                                Broj: +123 39 55488 <br>
                                <span>Ponedeljak-Petak (8h-5h)</span>
                            </p>
                        </div>
                    </div>
                </div>
                <!-- Start contact icon column -->
                <div class="col-md-4">
                    <div class="contact-icon text-center">
                        <div class="single-icon">
                            <i class="bi bi-envelope"></i>
                            <p>
                                Email: info@primer.com<br>
                                <span>Web: www.primer.com</span>
                            </p>
                        </div>
                    </div>
                </div>
                <!-- Start contact icon column -->
                <div class="col-md-4">
                    <div class="contact-icon text-center">
                        <div class="single-icon">
                            <i class="bi bi-geo-alt"></i>
                            <p>
                                Lokacija: Protivpartizanska 11<br>
                                <span>BG 11200, SRBIJA</span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">

                <!-- Start Google Map -->
                <div class="col-md-6">
                    <!-- Start Map -->
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d22864.11283411948!2d-73.96468908098944!3d40.630720240038435!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c24fa5d33f083b%3A0xc80b8f06e177fe62!2sNew+York%2C+NY%2C+USA!5e0!3m2!1sen!2sbg!4v1540447494452" width="100%" height="380" frameborder="0" style="border:0" allowfullscreen></iframe>
                    <!-- End Map -->
                </div>
                <!-- End Google Map -->
                <!-- Start  contact -->
                <div class="col-md-6">
                    <div class="form contact-form">
                        <form action="forms/contact.php" method="post" role="form" class="php-email-form">
                            <div class="form-group">
                                <input type="text" name="name" class="form-control" id="name" placeholder="Ime" required>
                            </div>
                            <div class="form-group mt-3">
                                <input type="email" class="form-control" name="email" id="email" placeholder="Email" required>
                            </div>
                            <div class="form-group mt-3">
                                <input type="text" class="form-control" name="subject" id="subject" placeholder="Naslov" required>
                            </div>
                            <div class="form-group mt-3">
                                <textarea class="form-control" name="message" rows="5" placeholder="Poruka" required></textarea>
                            </div>
                            <div class="my-3">
                                <div class="loading">Učitavanje</div>
                                <div class="error-message"></div>
                                <div class="sent-message">Tvoja poruka je poslata. Hvala!</div>
                            </div>
                            <div class="text-center"><button type="submit">Pošalji nam poruku</button></div>
                        </form>
                    </div>
                </div>
                <!-- End Left contact -->
            </div>
        </div>
    </div>
</div><!-- End Contact Section -->