@model Covid19Info.Models.Slajder

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Slajder</h4>
    <hr />
    <dl class="row">
      
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Podnaslov)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Podnaslov)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PodnaslovAl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PodnaslovAl)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sazetak)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sazetak)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SazetakAl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SazetakAl)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tekst)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tekst)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TekstAl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TekstAl)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Slika)
        </dt>
        <dd class = "col-sm-10">
        <img src="~/Images/@Model.Slika" height="50" width="50" asp-append-version="true"/>
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
