@model IEnumerable<Covid19Info.Models.Slajder>

@{
    ViewData["Title"] = "Index";
}

<h1 style="margin-left: 1%; margin-right: 5%; margin-top: 10%">Lista svih zapisa</h1>

<p>
    <a asp-action="Create" class="btn btn-info" style="margin-left:1%; margin-right:5%;margin-top:2%">Kreiraj novi zapis</a>
</p>
<table class="table"  style="border: 2px solid dashed;
        margin-left: 2%;
        margin-right: 5%;
        margin-top: 2%>
    <thead>
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.Podnaslov)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PodnaslovAl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sazetak)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SazetakAl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tekst)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TekstAl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Slika)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
      
            <td>
                @Html.DisplayFor(modelItem => item.Podnaslov)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PodnaslovAl)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sazetak)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SazetakAl)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tekst)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TekstAl)
            </td>
            <td>
              <img src="~/Images/@item.Slika" width="40" height="40" asp-append-version="true" />
            </td>
            <td>
                @Html.ActionLink("Izmeni", "Edit", new {  id=item.Id  }) |
                @Html.ActionLink("Detalji", "Details", new {  id=item.Id  }) |
                <a href="~/Slajder/Delete/@item.Id" onclick="return confirm('Jeste li sigurni da zelite da izbrisete ovu vest?')">Brisi</a>
            </td>
        </tr>
}
    </tbody>
</table>
