@model Covid19Info.Models.Vesti

@{
    ViewData["Title"] = "Details";
}

<h1 style="margin-top:8%; margin-left:5%; margin-right:5%;">Detalji</h1>

<div>
    <h4 style="margin-left:5%; margin-right:5%;">Vesti</h4>
    <hr />
    <dl class="row" style="margin-top:2%; margin-left:5%; margin-right:5%;margin-top:2%"> 
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Naslov)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Naslov)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NaslovAl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NaslovAl)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Datum)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Datum)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sazetak)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sazetak)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SazetakAl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SazetakAl)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tekst)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tekst)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TekstAl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TekstAl)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Slika)
        </dt>
        <dd class="col-sm-10">
            <img src="~/Images/@Model.Slika" width="40" height="40" />
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Imunizacija)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Imunizacija)
        </dd>
    </dl>
</div>
<div style="margin-top:2%; margin-left:5%; margin-right:5%;margin-top:2%">
    @Html.ActionLink("Edit", "Edit", new {  id = Model.Id  }) |
    <a asp-action="Index">Nazad na listu</a>
</div>
