@model IEnumerable<Covid19Info.Models.BrojZarazenihOsoba>

@{
    ViewData["Title"] = "Index";
}
<div class="container">
    <h1>Lista svih zapisa</h1>

    <p>
        <a asp-action="Create" class="btn btn-lg btn-info" >Kreiraj novi zapis</a>
    </p>
    <table class="table">
        <thead>
            <tr>
          
                <th>
                    @Html.DisplayNameFor(model => model.BrojTestiranihOsobaDnevno)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.BrojPotvrdjenihSlucajeva)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.BrojSmrtnihSlucajeva)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UkupanBrojTestiranihSlucajeva)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DatumTestiranja)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DeoNaKojiSePodaciOdnose)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                  
                    <td>
                        @Html.DisplayFor(modelItem => item.BrojTestiranihOsobaDnevno)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.BrojPotvrdjenihSlucajeva)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.BrojSmrtnihSlucajeva)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UkupanBrojTestiranihSlucajeva)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DatumTestiranja)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DeoNaKojiSePodaciOdnose)
                    </td>
                    <td>
                        @Html.ActionLink("Izmeni", "Edit", new {  id=item.Id  }) |
                        @Html.ActionLink("Detalji", "Details", new {  id=item.Id }) |
                       <a href="~/BrojZarazenih/Delete/@item.Id" onclick="return confirm('Da li ste sigurni da zelite da izbrisete ovaj zapis ?')">Brisi</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>